:root {
    --main-bg-color: #fff;
    --secondary-bg-color: rgb(245, 245, 245);
    --main-text: #000;
    --secondary-text: #ff5722;
    --accent-color: #90a4ae;
  }

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
p {
    letter-spacing: 1px;

    margin: 20px;
}

.et-hero-tabs { 
    background-color: var(--main-bg-color);
    h1, h3 {
        text-transform: uppercase;
    }
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0 2em;
        h1 {
            font-size: 2rem;
            margin: 0;
            letter-spacing: 1rem;
        }
        h3 {
            font-size: 1rem;
            letter-spacing: 0.3rem;
            opacity: 0.6;
            margin-top: 10px;
        }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    position: absolute;
    bottom: 0;              // no area at bottom of container
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
        color: white;
        background-color: var(--accent-color);
        transition: all o.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: var(--accent-color);
    transition: left 0.3s ease;
}

#tab-about {
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    img {
        max-width: 450px;
        // height: auto;
        border-radius: 100px;
    }
}
.about-details {
    height: 100%;
    display: grid;
    // grid-template-rows: 1.75fr 2fr;
    .section-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3:first-child{
            font-size: 2rem;
            opacity: 1;
            color: var(--secondary-text);
        }
    }
    .section-details {
        align-content: center;
    }
}

#tab-projects {
    background-color: var(--main-bg-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#tab-contact {
    background-color: var(--secondary-bg-color);
}


// -- Footer -- 
.footer {
    padding: 1rem;
    background-color: #f7f7f7;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);

}

.social-links {
    .github,
    .linkedin,
    .twitter {
        margin: 0 10px;
        font-size: 1.3rem;
    }
    .github { 
        color: #7DBBE6;
    }
    .linkedin {
        color: #2867B2;
    }
    .twitter {
        color: #55ACEE;
    }
    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 830px) {
    .et-hero-tabs,
    .et-slide {
        h1 {
            font-size: 3rem;
        }
        h3 {
            font-size: 1rem;
        }
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}