:root {
  --main-bg-color: #fff;
  --secondary-bg-color: rgb(245, 245, 245);
  --main-text: #000;
  --secondary-text: #ff5722;
  --accent-color: #90a4ae;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1px;
  margin: 20px;
}

.et-hero-tabs {
  background-color: var(--main-bg-color);
}

.et-hero-tabs h1, .et-hero-tabs h3 {
  text-transform: uppercase;
}

.et-hero-tabs,
.et-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  margin-top: 10px;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: white;
  background-color: var(--accent-color);
  -webkit-transition: all o 0.5s ease;
  transition: all o 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: var(--accent-color);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

#tab-about {
  background-color: var(--secondary-bg-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#tab-about img {
  max-width: 450px;
  border-radius: 100px;
}

.about-details {
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.about-details .section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-details .section-header h3:first-child {
  font-size: 2rem;
  opacity: 1;
  color: var(--secondary-text);
}

.about-details .section-details {
  -ms-flex-line-pack: center;
      align-content: center;
}

#tab-projects {
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#tab-contact {
  background-color: var(--secondary-bg-color);
}

.footer {
  padding: 1rem;
  background-color: #f7f7f7;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
}

.social-links .github,
.social-links .linkedin,
.social-links .twitter {
  margin: 0 10px;
  font-size: 1.3rem;
}

.social-links .github {
  color: #7DBBE6;
}

.social-links .linkedin {
  color: #2867B2;
}

.social-links .twitter {
  color: #55ACEE;
}

.social-links:hover {
  cursor: pointer;
}

@media (min-width: 830px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */